@import "tailwindcss";
@import "tw-animate-css";

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}

.custom-metallic-text1 {
  background: linear-gradient(
    135deg,
    #2e2e2e,
    #1f1f1f,
    #121212,
    #0a0a0a,
    #121212,
    #1f1f1f,
    #2e2e2e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(50, 50, 50, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5),
    0 2px 3px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fadeDown {
  animation: fadeDown 0.8s ease-out forwards;
}

/* delay utilities for staggered animation */
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}

@keyframes bounceSoft {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.hover\:animate-bounceSoft:hover {
  animation: bounceSoft 0.4s ease-in-out;
}
@keyframes bounceSoft {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
}

.hover\:animate-bounceSoft:hover {
  animation: bounceSoft 0.4s ease-in-out;
}
